version: '3'
services:
  samba:
    container_name: samba
    image: dperson/samba:armhf
    restart: unless-stopped
    environment: 
      - USERID=1000
      - GROUPID=1000
      - WORKGROUP=workgroup
    ports:
      - "137:137/tcp"
      - "137:137/udp"
      - "138:138/tcp"
      - "138:138/udp"
      - "139:139"
      - "445:445"
      - "445:445/udp"
    volumes:
      - /mnt/extHD/:/mount
    command: 
      -u "roberto;${ROBERTO_PASSWORD}"
      -u "jenny;${JENNY_PASSWORD}"
      -s "NAS;/mount;yes;no;no;roberto,jenny"
    logging:
      driver: none

  deluge:
    container_name: "deluge"
    image: onegambler/deluge:v1.0
    # build:
    #   context: ./deluge
    #   args:
    #     - DELUGE_VERSION=1.3.15
    restart: unless-stopped
    environment:
      - TZ=Europe/London # timezone
      - PUID=1000
      - PGID=1000
    ports:
      - "58846:58846"
      - "8112:8112"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/extHD/raspberrypi/configs/deluge/config:/volumes/config
      - /mnt/extHD/raspberrypi/configs/deluge/torrents:/volumes/data
      - /mnt/extHD/download/complete:/volumes/complete
      - /mnt/extHD/download/incomplete/torrent:/volumes/download
    logging:
      driver: none

  mldonkey:
    container_name: "mldonkey"
    image: onegambler/mldonkey
    # build:
    #   context: ./mldonkey
    restart: unless-stopped
    environment:
      - TZ=Europe/London # timezone
      - MLDONKEY_CLIENT_NAME=raspberrypi
      - MLDONKEY_ADMIN_PASSWORD=${MLDONKEY_ADMIN_PASSWORD}
      - PUID=1000
      - PGID=1000
    ports:
      - "4000:4000"
      - "4080:4080"
      - "20562:20562"
      - "20566:20566/udp"
      - "16965:16965/udp"
      - "3617:3617/udp"
      - "6881:6881"
      - "6882:6882"
    volumes:
      - /mnt/extHD/raspberrypi/configs/mldonkey:/var/lib/mldonkey
      - /mnt/extHD/download/complete:/download/complete
      - /mnt/extHD/download/incomplete/eDonkey:/download/incomplete
    logging:
      driver: none

  jackett:
    container_name: jackett
    image: lsioarmhf/jackett
    restart: unless-stopped
    environment:
      - PUID=1000 # default user id, for downloaded files access rights
      - PGID=1000 # default group id, for downloaded files access rights
      - TZ=Europe/London # timezone
    ports:
      - "9117:9117"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/extHD/download/complete:/download
      - /mnt/extHD/raspberrypi/configs/jackett:/config # config files
    logging:
      driver: none

  sonarr:
    container_name: sonarr
    image: lsioarmhf/sonarr
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    ports:
      - "8989:8989"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/extHD/raspberrypi/configs/sonarr:/config
      - /mnt/extHD/Roberto/media/series:/tv
      - /mnt/extHD/download/complete:/downloads
    depends_on:
      - jackett
      - deluge
    logging:
      driver: none

  radarr:
    container_name: radarr
    image: lsioarmhf/radarr
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    ports:
      - "7878:7878"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/extHD/raspberrypi/configs/radarr:/config
      - /mnt/extHD/Roberto/media/movies:/movies
      - /mnt/extHD/download/complete:/downloads
    depends_on:
      - jackett
      - deluge
    logging:
      driver: none
    
  # portainer:
  #   image: portainer/portainer:arm
  #   container_name: portainer
  #   restart: unless-stopped
  #   ports:
  #     - "9000:9000"
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - /mnt/extHD/raspberrypi/configs/portainer:/data
  #   logging:
  #     driver: none

  organizr:
    image: lsioarmhf/organizr:latest
    container_name: organizr
    volumes:
      - /mnt/extHD/raspberrypi/configs/organizr:/config
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    ports:
      - "80:80"
    depends_on:
        - sonarr
        - radarr
        - deluge
    logging:
      driver: none

  resilio-sync:
    image: lsioarmhf/resilio-sync:latest
    container_name: resilio-sync
    restart: unless-stopped
    ports:
      - "8888:8888"
      - "55555:55555"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - UMASK_SET=022
    volumes:
      - /mnt/extHD/raspberrypi/configs/resilio/config:/config
      - /mnt/extHD/raspberrypi/configs/resilio/downloads:/downloads
      - /mnt/extHD/Roberto:/sync
    logging:
      driver: none

  watchtower:
    image: v2tec/watchtower:armhf-latest
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --cleanup --schedule "0 0 5 * * *"
    logging:
      driver: none
  
  rpi-monitor:
    container_name: rpi-monitor
    image: michaelmiklis/rpi-monitor:latest
    restart: unless-stopped
    volumes: 
      - /opt/vc:/opt/vc
      - /boot:/boot
      - /sys:/dockerhost/sys:ro
      - /etc:/dockerhost/etc:ro
      - /proc:/dockerhost/proc:ro
      - /usr/lib:/dockerhost/usr/lib:ro
    devices:
      - /dev/vchiq:/dev/vchiq
      - /dev/vcsm:/dev/vcsm
    ports:
      - "9999:8888"

  dropbox-syncer:
    container_name: dropbox-syncer
    image: onegambler/dropbox-syncer:latest
    volumes:
      - /mnt/extHD/raspberrypi/configs:/data:ro
    restart: on-failure
    environment:
      - DROPBOX_KEY=${DROPBOX_ACCESS_TOKEN}
      - TO_EXCLUDE=*.log*,*.tmp*
      - TZ=Europe/London
      - CRON_SCHEDULE=0 3 * * *
    logging:
      driver: none

  ble-scanner:
    container_name: ble-scanner
    image: onegambler/mqtt-ble-scanner:latest
    volumes:
      - /mnt/extHD/raspberrypi/configs/mqtt-ble-scanner:/mqtt-ble-scanner/config
    restart: on-failure
    network_mode: host
    privileged: true
    logging:
      driver: none